// PlaceHolder Style Starts Here
::placeholder {
    color: $offwhite-color !important;
    font-size: 16px;
}
// PlaceHolder Style Ends Here

// Buttons Style Starts Here
.btn{
    transition: 0.3s all linear !important;
}
.btn-link{
    padding: 0;
    color: $offwhite-color;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    &::after{
        background-color: $secondary-color;
        transition: 0.3s all linear;
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 2px;
    }
    &:hover{
        color: $secondary-color;
        &::after{
            width: 100%;
        }
    }
}
// Buttons Style Ends Here

// Form Style Starts Here
input{
    &:focus{
        box-shadow: none !important;
        border-color: $offdark-color !important;
        background-color: $offdark-color !important;
    }
}
.search-form{
    position: relative;
    input{
        font-size: 16px;
        font-weight: 600;
        color: $offwhite-color !important;
        padding: 10px 0px;
        padding-left: 50px;
        padding-right: 30px;
        background-color: $offdark-color;
        border: 1px solid $offdark-color;
    }
    svg{
        fill: $ash-color;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
    }
}
// Form Style Ends Here

// Components Style Starts Here
.col-title{
    padding-left: 25px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 5px;
        top: 0px;
        left: 0px;
        background-color: $offdark-color;
        border-radius: 20px;
    }
}
// Components Style Ends Here